<h4><%= link_to fun.title, fun %></h4>
  <% if fun.content.image? %>
  <div id="preview_<%= fun.id %>"><%= link_to image_tag(fun.content.image_url(:img, :small), class: "img-polaroid"), fun, remote: true %></div>
  <% end %>

  Posted by
  <% if fun.user.avatar? %>
      <%= link_to image_tag(fun.user.avatar_url(:thumb), class: "img-circle", width: "30px") + ' ' + fun.user.login, fun.user %>
  <% else %>
      <%= link_to fun.user.login, fun.user %>
  <% end %> <%= time_ago_in_words fun.created_at %> назад
  <br />

<%= repost_button fun %>
<%= like_button fun %>