<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h2>User info</h2>
      <%= image_tag(@user.avatar_url(:thumb), class: "img-circle") %>
      <dl>
        <dt>Login:</dt>
        <dd><%= @user.login %></dd>
        <dt>Email:</dt>
        <dd><%= @user.email %></dd>
        <dt>Registered:</dt>
        <dd><%= @user.created_at %></dd>
      </dl>
      <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
          <%= @user.followed_users.count %>
        </strong>
        following
      </a>
      <a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </a>
    </div>

    <div class="span9">
      <ul class="nav nav-tabs" id="user_tabs">
        <li class="active"><%= link_to "Funs", user_path(@user), remote: true %></li>
        <li><%= link_to "Likes", likes_user_path(@user), remote: true %></li>
      </ul>

      <div class="list_item">
        <%= render "funs/list", funs: @funs, fun_partial: :list_item %>
      </div>

      <%= follow_button @user %>

    </div>

  </div>
  <%= link_to "Back", :back %><br />
</div>