<h4><%= link_to fun.content.title, fun %></h4>

<% if fun.content.file? %>
    <% if fun.content.exist_gif_thumb?%>
      <div id="preview_<%= fun.id %>"><%= link_to image_tag(fun.content.file_url(:img, :small), class: "img-polaroid"), fun, remote: true %></div>
  <% else %>
      <%= image_tag(fun.content.file_url(:img, :small), class: "img-polaroid") %>
  <% end %>
<% end %>
<br />
Posted by
<% if fun.user.avatar? %>
  <%= link_to image_tag(fun.user.avatar_url(:thumb), class: "img-circle", width: "30px") + ' ' + fun.user.login, fun.user %>
<% else %>
  <%= link_to fun.user.login, fun.user %>
<% end %> <%= time_ago_in_words fun.created_at %> назад
<br />

<%= repost_button fun %>
<%= like_button fun %>