<h4><%= link_to fun.title, fun %></h4>
<%= show_cached_tags fun %>
<dl>
    <% if fun.content.file? %>
      <dt>Image</dt>
      <% if fun.content.exist_gif_thumb?%>
        <dd><div id="preview_<%= fun.id %>"><%= link_to image_tag(fun.content.file_url(:img, :thumb), class: "img-polaroid"), fun, remote: true %></div></dd>
      <% else %>
        <dd><%= image_tag(fun.content.file_url(:img, :thumb), class: "img-polaroid") %></dd>
      <% end %>
    <% end %>
    <dt>Posted</dt>
    <dd><%= time_ago_in_words fun.created_at %> ago</dd>
    <dt>Posted by</dt>
    <% if fun.user.avatar? %>
        <dd><%= link_to image_tag(fun.user.avatar_url(:thumb), class: "img-circle", width: "50px") + ' ' + fun.user.login, fun.user %></dd>
    <% else %>
      <dd><%= link_to fun.user.login, fun.user %></dd>
    <% end %>
</dl>

<%= link_to 'Repost fun', repost_fun_path(fun), class: 'btn btn-primary' %>
<%= render "funs/like_link", fun: fun %>