<%= fun.title %>
<% if fun.content.file? %>
<p>
  <b>Image:</b>
  <% if fun.content.exist_gif_thumb?%>
    <%= image_tag fun.content.file_url :gif %>
  <% else %>
    <%= image_tag fun.content.file_url :img %>
  <% end %>
</p>
<% end %>
<div id="show_likes">
  <b>Likes:</b>
  <%= link_to fun.total_likes, likes_fun_path, remote: true %>
</div>
<p>
  <b>Shows:</b>
  <%= fun.total_shows %>
</p>
<p>
  <b>Tags:</b>
  <%= raw fun.content.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>