<%= simple_form_for @fun, validate: true do |f| %>

  <% if @fun.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <strong><%= pluralize(@fun.errors.count, "error") %> prohibited this fun from being saved:</strong>
      <% @fun.errors.full_messages.each do |msg| %>
            <%= content_tag :div, msg, :id => "flash_#error" %>
      <% end %>
    </div>
  <% end %>

    <%= f.input :title, :input_html => {class: "input-xxlarge"} %>

    <div class="row">
      <div class="span6">
        <ul class="nav nav-tabs" id="type">
          <li><a href="#text" data-toggle="tab">Text</a></li>
          <li><a href="#image" data-toggle="tab">Image</a></li>
          <li><a href="#video" data-toggle="tab">Video</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="text">
            <%= render 'funs/posts/form', fun: f%>
          </div>
          <div class="tab-pane" id="image">
            <%= render 'funs/images/form', fun: f%>
          </div>
          <div class="tab-pane" id="video">
            <%= render 'funs/videos/form', fun: f%>
          </div>
        </div>
      </div>
    </div>

    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>