<%= form_for(@fun) do |f| %>

  <% if @fun.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <strong><%= pluralize(@fun.errors.count, "error") %> prohibited this fun from being saved:</strong>
      <% @fun.errors.full_messages.each do |msg| %>
            <%= content_tag :div, msg, :id => "flash_#error" %>
      <% end %>
    </div>
  <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "input-xxlarge" %>

    <%= f.label :content_type %>
    <%= f.select :content_type, %w(Post Image) %>

    <%= f.fields_for :content_attributes do |f| %>
        <%= f.label :body %>
        <%= f.text_area :body, class: "input-xxlarge", rows: 5%>
    <% end %>

    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list, class: "input-xxlarge" %><br />

    <%= f.submit class: "btn btn-primary" %>
<% end %>