<div id="sort">
  <%= link_to "Новое", new_path %> |
  <%= link_to "Популярное", hot_path %> |
  <%= link_to "Обсуждаемое", discuss_path %>
  <%= form_tag request.path, :method => 'get', :remote => true do %>
      Период: <%= select_tag :interval, options_for_select(%w(week month year), params[:interval]) %><br />
      Типы материала:
      <label class="checkbox"><%= check_box_tag "type[]", :image, checked: true %> <%= :image %></label>
      <label class="checkbox"><%= check_box_tag "type[]", :post, checked: true %> <%= :post %></label>
      <label class="checkbox"><%= check_box_tag "type[]", :video, checked: true %> <%= :video %></label>
  <% end %>
</div>