<p>
  <b>Name:</b>
  <%= @fun.title %>
</p>

<%= show_fields @fun%>

<p>
  <b>Posted:</b>
  <%= time_ago_in_words @fun.created_at %> ago
</p>

<p>
  <b>By:</b>
  <%= link_to @fun.user.login, @fun.user %>
</p>

<% if can? :update, @fun %>
    <%= link_to 'Edit', edit_fun_path(@fun), class: 'btn btn-small btn-primary' %>
<% end %>
<% if can? :destroy, @fun %>
    <%= link_to 'Destroy', @fun, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger' %>
<% end %>
<br /><br />
<%= link_to 'Back', funs_path %>
